.application {
    margin-top: 100px;
    &_wrapper {
        display: flex;
        justify-content: space-between;
    }
    &_title {
        font-size: 52px;
        width: 600px;
        margin-bottom: 50px;
    }
    &_img {
        img {
            width: 100%;
        }
    }
    &_message {
        margin-top: 40px;
        width: 350px;
    }
    &_form {
        input {
            border-radius: 5px;
            font-size: 16px;
            margin: 10px 0;
            height: 60px;
            width: 98%;
            border: 1px solid grey;
        }
        textarea {
            border-radius: 5px;
            font-size: 16px;
            margin: 10px 0;
            width: 98%;
        }
    }
}