.button {
    width: 300px;
    height: 50px;
    border: 2px solid #666666;
    font-weight: 500;
    font-size: 15px;
    background-color: #fff;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: #666666;
        transition: 0.5s;

    }
    &_menu {
        background: none;
        width: 140px;
        padding: 0;
        height: 20px;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        text-transform: none;

    }
    &_promo {
        align-self: start;
    }
    &_product {
        display: block;
        margin: 0 auto;
    }
    &_about {
        margin-top: 70px;
        background-color: rgb(153, 153, 153);
        color:#fff;
        &:hover {
            color: #000;
            background-color: #fff;
            transition: 0.5s;
            border: 1px solid #000;
    
        }
    }
    &_bot {
        width: 200px;
        position: fixed;
        z-index: 6;
        bottom: 25px;
        right: 90px;
        font-size: 17px;
        text-transform: none;
        border: none;
        box-shadow: 0 0 2px #fff;
        background-color: rgb(51, 51, 51);
        color: #fff;
        border-radius: 50px;
    }
    &_submit {
        margin-top: 10px;
        width: 100%;
        background-color: #666666;
        color:#fff;
        &:hover {
            color: #000;
            background-color: #fff;
            transition: 0.5s;
            border: 1px solid #000;
    
        }
    }
}