.footer {
    &::before {
        content: '';
        display: block;
        height: 110px;
        background-color: #2c2c2c;
        
    }
    &::after {
        content: '';
        display: block;
        height: 100px;
        background-color: #2c2c2c;
        
    }
    .container {
        min-height: 310px;
        position: relative;
        display: flex;
    }
    &_item {
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #000;
        p {
            font-size: 20px;
            font-weight: bold;
        }
        &:last-child {
            border: none;
        }
    }
    &_img {
        width: 30px;
        img {
            width: 100%;
        }
    }
    &_social {
        display: inline-block;
        width: 30px;
        img {
            width: 100%;
        }
        &:last-child {
            margin-left: 10px;
        }
    }
}