.header {
    position: relative;
    height: 50px;
    nav {
        top: 0;
        position: fixed;
        width: 100%;
        height: 50px;
        padding: 5px 0;
        z-index: 5;
        background-color: #000;
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        padding: 13px 70px;
        margin: 0;
        list-style-type: none;
        &_link {
            font-weight: 500;
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            &:hover {
                color: purple;
            }
        }
        &_item {
            width: 100px;
            padding-right: 60px;
            &::after {
                content: '';
                position: absolute;
                top: 20px;
                padding-left: 75px;
                height: 20px;
                border-right: 1px solid #fff;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }   
        }
    }
    .hamburger {
        display: none;
    }
}