@media (max-width: 1440px) {
    body {
        .logo {
            top: 10px;
            left: 30px;
            width: 90px;
        }
    }
    .sidepanel {
        right: 20px;
    }
    .container {
        max-width: 1120px;
    }
    .product {
        &_img {
            width: 140px;
        }
    } 
}

@media (max-width: 1200px) {
    body {
        .logo {
            top: 10px;
            left: 10px;
            width: 80px;
        }
    }
    .container {
        max-width: 960px;
    }
    .header {
        .menu {
            padding: 13px 100px;
            &_item {
                padding-right: 20px;
                &::after {
                    padding-left: 55px;
                }
            }
            &_link {
                font-size: 14px;
            }
        }
    }
    .button {
        &_menu {
            font-size: 14px;
        }
    }
    .team {
        &_item {
            width: 220px;
        }
        &_img {
            height: 330px;
        }
    }
    .letters {
        &_slider {
            width: 860px;
        }
    }
    .footer {
        &_social {
            width: 310px;
        }
        &_main {
            flex-direction: column;
            align-items: center;
            width: 310px;
            a {
                display: block;
                line-height: 30px;
            }
        }
        &_contacts {
            width: 310px;
        }
    }
}

@media (max-width: 992px) {
    .sidepanel {
        &_link {
            width: 50px;
            height: 50px;
        }
    }
    .container {
        max-width: 720px;
    }
    .header {
        .menu {
            padding: 13px 40px;
            &_item {
                padding-right: 20px;
                &::after {
                    padding-left: 40px;
                }
            }
            &_link {
                font-size: 13px;
            }
        }
    }
    .button {
        &_menu {
            font-size: 13px;
        }
        &_bot {
            height: 40px;
            width: 190px;
            font-size: 15px;
        }
    }
    .promo {
        padding-top: 70px;
        .container {
            grid-template-rows: 60px 70px 210px 60px;
        }
        &_header {
            font-size: 28px;
        }
        &_subheader {
            font-size: 20px;
        }
        &_descr {
            font-size: 14px;
            align-self: center;
        }
        &_img {
            width: 338px;
        }
    }
    .product {
        &_item {
            width: 240px;
        }
        &_title {
            text-align: center;
        }
        &_descr {
            font-size: 14px;
            margin: 20px 0 0 30px;
        }
        &_descr_cons {
            margin: 20px 0 0 15px;
        }
    }
    .team {
        &_wrapper {
            flex-wrap: wrap;
            row-gap: 50px;
        }
        &_item {
            width: 300px;
        }
        &_descr {
            font-size: 14px;
        }
        &_img {
            height: 450px;
        }
    }
    .application {
        &_contacts {
            width: 320px;
        }
    }
    .letters {
        &_slider {
            width: 620px;
        }
    }
    .footer {
        &_social {
            width: 230px;
            &-item {
                width: 40px;
                height: 40px;
            }
        }
        &_main {
            width: 230px;
            a {
                font-size: 15px;
                text-align: center;
            }
        }
        &_contacts {
            width: 230px;
            &-phone {
                font-size: 15px;
            }
            &-adress {
                font-size: 15px;
            }
        }
    }
}


@media (max-width: 768px) {
    .sidepanel {
        display: none;
    }
    .container {
        max-width: 540px;
    }
    body {
        .logo {
            width: 65px;
            z-index: 6;
        }
    }
    .header {
        .menu {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.9);
            transition: 0.6s all;
            &_active {
                left: 0;
            }
            &_item {
                padding-right: 0;
                border: none;
                margin: 20px 0;
                width: 200px;
                height: 35px;
                text-align: center;
                &::after {
                    display: none;
                }
            }
            &_link {
                font-size: 18px;
                &:hover {
                    color: #fff;
                }
            }
        }
        .hamburger {
            display: block;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 26px;
            height: 12px;
            span {
                display: block; 
                height: 2px;
                width: 100%;
                background-color: #fff; 
                margin-bottom: 2px;
                transition: 0.5s all;
            }
            &_active {
                span {
                    margin-bottom: -2px; 
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    };
                    &:nth-child(2) {
                        display: none;
                    };
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    };

                }
            }
        }
    }
    .button {
        &_menu {
            width: 200px;
            font-size: 18px;
            background-color:rgba(0, 0, 0, 0);
            &:hover {
                color: #fff;
            }
        }
        &_promo {
            width: 230px;
            font-size: 14px;
        }
    }
    .promo {
        padding-top: 40px;
        .container {
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 30px 60px 192px 60px;
            column-gap: 20px;
        }
        &_header {
            font-size: 23px;
        }
        &_subheader {
            font-size: 16px;
        }
        &_descr {
            align-self: start;
            font-size: 12px;
        }
        &_img {
            width: 289px;
        }
    }
    .product {
        &_wrapper {
            align-items: center;
            flex-direction: column;
            gap: 50px;
        }
        &_item {
            width: 100%;
        }
        &_descr {
            margin: 20px 0 0 10px;
        }
    }
    .team {
        &_wrapper {
            justify-content: center;
        }
        &_item {
            width: 520px;
        }
    }
    .application {
        &_wrapper {
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;
        }
    }
    .letters {
        &_slider {
            padding-top: 30px;
            width: 65%;
        }
        &_img {
            height: 160px;
        }
    }
    .footer {
        &_social {
            width: 160px;
            flex-wrap: wrap;
            row-gap: 10px;
            &-item {
                width: 40px;
                height: 40px;
                padding: 0 5px;
            }
        }
        &_main {
            width: 180px;
            a {
                text-align: center;
                font-size: 14px;
            }
        }
        &_contacts {
            width: 160px;
            &-phone {
                font-size: 14px;
            }
            &-adress {
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 576px) {
    .overlay {
        right: 0;
    }

    .modal {
        width: 90%;
        padding: 30px 5px;
        &_close {
            right: 5px;
            top: 5px;
            color: purple;
        }
    }
    .button {
        &_bot {
            display: none;
        }
        &_promo {
            justify-self: center;
            width: 100%;
        }
        &_submit {
            width: 100%;
        }
    }
    .container {
        max-width: 100%;
        padding: 0 10px;
        margin: 0;
    }
    .promo {
        padding-top: 46px;
        .container {
            grid-template-columns: 1fr;
            grid-template-rows: 50px 60px 343px 160px 65px;
        }
        &_header {
            font-size: 38px;
            justify-self: center;
            text-align: center;
        }
        &_subheader {
            text-align: center;
            justify-self: center;
        }
        &_img {
            grid-column: 1;
            grid-row: 3 / 4;
            justify-self: center;
            height: 343px;
            // width: 100%;
        }
        &_descr {
            align-self: center;
        }
    }
    .product {
        &_descr {
            margin: 20px 25px 0 35px;
        }
    }
    .application {
        &_left {
            width: 100%;
        }
        &_form {
            width: 100%;
        }
    }
    .team {
        &_img {
            height: 404px;
        }
    }
    .footer {
        padding-top: 80px;
        .container {
            grid-template-rows: repeat(3, 60px);
            grid-template-columns: 1fr;
            column-gap: 10px;
        }
        &_social {
            grid-row: 1 / 2;
            row-gap: 10px;
            width: 100%;
            justify-content: center;
            &-item {
                width: 40px;
                height: 40px;
                padding: 0 5px;
            }
        }
        &_main {
            grid-row: 2 / 3;
            width: 100%;
            a {
                text-align: center;
                font-size: 13px;
            }
        }
        &_contacts {
            grid-row: 3 / 4;
            width: 100%;
            &-phone {
                display: block;
                align-self: center;
                font-size: 13px;
            }
            &-adress {
                display: block;
                font-size: 13px;
                align-self: center;
            }
        }
    }
    
}