.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, .56);
    z-index: 10;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 300px;
    background: #F2F2F2;
    padding: 28px 30px 30px 30px;
    .application_form {
        margin: 0 auto;
        textarea {
            margin-bottom: 20px;
            resize: vertical;
            max-height: 250px;
            color: #000;
            border-radius: 5px;
            background-color: #fff;
            margin-bottom: 15px;
            border: none;
            padding: 10px 20px 20px 18px;
            font-weight: 300;
            font-size: 14px;
            color: #4B4B4B;
        }
    }
    &_close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 41px;
        line-height: 21px;
        color: #fff;
        cursor: pointer;
    }
    &_subtitle {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &_descr {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
    }
    &_mini {
        min-height: 140px;
        .modal{
            &_subtitle {
                margin-bottom: 40px;
            }
        }
    }
    .error {
        border: 1px solid red;
        text-align: center;
        color: #000;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}

#callback, #consultation, #thanks {
    display: none;
}