.sidepanel {
    position: fixed;
    top: 48%;
    transform: translateY(-50%);
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    z-index: 3;
    &_link {
        width: 60px;
        height: 60px;
        img {
            width: 100%;
        }
        &-animated {
            animation: beat 2.5s linear infinite;
        }
    }
}