@import 'libs/animate.min';
@import 'libs/slick';

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/team';
@import 'blocks/product';
@import 'blocks/letters';
@import 'blocks/about';
@import 'blocks/application';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/media';